@import "../../styles/styles.scss";



$background:steelblue;

.film-details {
    position: relative;
    text-align: center;

    .selected-film-title {
        font-family: 'Bowlby One SC', cursive;
        font-size: 45px;
    }

    .results-page {

        width: 60%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto 0;

        .results-rows {
            width: 100%;

            &:nth-child(odd) {}

            &:nth-child(even) {
                background: lightgray;
            }

        }


        .results-header {
            width: 100%;
            padding: 10px 0;
            display: flex;
            font-size: 20px;
            font-weight: 500;
            height: 100px;
            border-bottom: 1px solid darkgrey;
            background: rgb(51, 49, 49);
            color: white;


            .header-block {
                width: calc(100%/8);
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}