@import "../../../styles/colors.scss";

.button {
    padding: 3px 7px;
    border: 1px solid black;
    border-radius: 1px;
    background: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.6s;

    
    &:hover {
        background: $blue;
        color: $white;
    }

    &-default {
        width: 85px;
        height: 35px;
    }

    &-large,
    &-full {
        width: 125px;
        height: 45px;
        font-size: 18px;
    }

    &-full {
        width: 100%;
        margin: 1px;
    }

    &-danger {
        background: $light-grey;

        &:hover {
            background: $light-grey-2;
            color: #000;
        }
    }

    &-inverse {
        background: $blue;
        color: #ffffff;
    }

    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: default;

    }


}